.container {
  padding: 20px 20px 20px 20px;
  &.home-page {
    padding: 0;
    .inner-content {
      padding: 20px 20px;
      mat-form-field {
        margin-top: 15px;
      }
    }
  }
}
.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  padding: 10px 0;
  width: 70vw;
  max-width: 300px;
}
mat-list.menu {
  mat-icon {
    margin-right: 10px;
  }
  mat-list-item {
    cursor: pointer;
    &:hover {
      background-color: rgb(128 128 128 / 15%);
    }
  }
}
.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.mat-drawer {
  padding: 56px 0;
}
