<div class="links-page container">
  <h3 class="title">Полезные ссылки</h3>
 <div class="list-group">
   <h4>Жилье</h4>
   <mat-list role="list">
     <mat-list-item role="listitem"><a href="https://icanhelp.host">https://icanhelp.host</a></mat-list-item>
     <mat-list-item role="listitem"><a href="https://ukrainesupport.net/pl/">https://ukrainesupport.net/pl/</a></mat-list-item>
     <mat-list-item role="listitem"><a href="https://t.me/apartmenthelp">https://t.me/apartmenthelp</a></mat-list-item>
     <mat-list-item role="listitem"><a href="https://uapomoc.pl/">https://uapomoc.pl/</a></mat-list-item>
     <mat-list-item role="listitem"><a href="https://mapahelp.me/">https://mapahelp.me/</a></mat-list-item>
     <mat-list-item role="listitem"><a href="https://pomagamukrainie.gov.pl">https://pomagamukrainie.gov.pl</a></mat-list-item>
   </mat-list>
 </div>

  <div class="list-group">
    <h4>Транспорт</h4>
    <mat-list role="list">
      <mat-list-item role="listitem"><a href="https://transporterua.com/">https://transporterua.com/</a></mat-list-item>
    </mat-list>
  </div>

  <div class="list-group">
    <h4>Другое</h4>
    <mat-list role="list">
      <mat-list-item role="listitem"><a href="https://t.me/pomoshukrainaa">https://t.me/pomoshukrainaa</a></mat-list-item>
      <mat-list-item role="listitem"><a href="https://photos.google.com/share/AF1QipPcxnIag9AKyaDlLzDKStXtLn2YZD0b-q982ckA6WRK06wlTSsvTui_afzHN9p-eg?pli=1&key=bGpUVG84bUJ5b1VvME9PcmtyV25VZ2p0cWRoS0NR">Инструкция для волонтера</a></mat-list-item>

    </mat-list>
  </div>
</div>
